<h1>ActuarialScienceFirstYears#show</h1>
<p>Find me in app/views/actuarial_science_first_years/show.html.erb</p>


<br>
<%= link_to "CLICK TO PRINT TRANSCRIPT", actuarial_science_first_year_path(@actuarial_science_first_year, type: 'application/vnd.oasis.opendocument.text') %>
<h2> OR </h2

<p><%= link_to  'BACK TO MARKSHEET', "http://localhost:8000/admin/actuarial_science_first_year" %></P>
</html>